@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

.dmBody{
    height: 93.5vh;
    /* width: 100vw; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
}
.dmBanner{
    height: 100%;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.dmTitle{
    height: 35%;
    width: 100vw;
    /* background-color: #0F0505; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #90BA34;
    font-size: 75px;
    position: absolute;
    padding-top: 2%;
}
.dmIcon{
    height: 100px;
    padding-bottom: 3%;
    margin-left: 0px;
    margin-right: 10px;
}