.eventBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-size: 35px;
    padding-left: 5%;
}

/* -- HEARTS -- */
.health{
    display: flex;
}
.heart{
    height: 3rem;
    margin-left: 5px;
}

/* -- SOULS -- */

.souls{
    display: flex;
}
.soul{
    margin-left: 10px;
}