.body{
    margin: 0px;
}

.homeContainer{
    margin: 0px;
    background-color: #1f1011;
    height: 125vh;
    width: 100vw;
}

.imgOne{
    height: 70vh;
    width: 70vw;
    margin-left: 15%;
    border-radius: 10px;
}

.inputName{
    height: 60px;
    width: 300px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 40%;
}

.playGame{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 15%;
    border-radius: 25px;
    background-color: #8A2E1E;
    color: #1f1011;
    margin-top: 5%;
    margin-left: 42%;
}

