.handBody{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;

}

.handCard{
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
    height: 95%;
    min-width: 14%;
    margin-right: 13px;
}
.handCard:hover{
    border-color: #D93104;
    border-radius: 0px;
    border-width: 2px;
    cursor: pointer;
}