@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');


.navBar{
    background-color: black;
    height: 6.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Press Start 2P', cursive;
}

.navIcon{
    height: 2.2rem;
    margin-left: 2px;
    margin-right: 5px;
}
.navTitle{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.navTitle:hover{
    color: #E8632C;
}

.navList{
    display: flex;
    justify-content: space-between;
    width: 30rem;
}
.navItem{
    text-decoration: none;
    color: white;
    font-size: .7rem;
}
.navItem:hover{
    color: #90BA5A;
}