.eventBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 2rem;
    padding-left: 5%;
}

/* -- HEARTS -- */
.health{
    display: flex;}
.heart{
    height: 3rem;
}

/* -- SOULS -- */

.souls{
    display: flex;
}
.soul{
    margin-left: 10px;
}