@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

body{
    background-color: black;
}

.homeBody{
    /* background-color: #1f1011; */
    height: 93.5vh;
    /* width: 100vw; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
}
.homeBanner{
    height: 100%;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.imgOne{
    width: 100vw;
    position: relative;
    top: 5rem;
}

/* .inputName{
    height: 60px;
    width: 300px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 40%;
} */

/* .playGame{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 15%;
    border-radius: 25px;
    background-color: #8A2E1E;
    color: #1f1011;
    margin-top: 5%;
    margin-left: 42%;
} */

.startButtonContainer{
    display: block;
    position: absolute;
    background: none;
    background-color: none;
    padding-top: 570px;
    padding-right: 25px;
}

.inputUsername{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: auto;
    text-align: center;
    outline: none;
    border-radius: 50px;
}

.homeButton{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 50px;
    padding-left: 67px;
}
.homeButton:hover{
    cursor: pointer;
    color: #89B550;
}
.homeBottomContainer{
    background-color: #0E0E0E;
    height: 35%;
    width: 100%;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 400px) {
    .startButtonContainer{
        display: block;
        position: absolute;
        background: none;
        background-color: none;
        padding-top: 240px;
        padding-right: 25px;
    }
    .inputUsername{
        display: flex;
        flex-direction: row;
        height: 40px;
        width: auto;
        text-align: center;
        outline: none;
        border-radius: 50px;
    }
    
    .homeButton{
        display: flex;
        flex-direction: row;
        cursor: pointer;
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding-top: 30px;
        padding-left: 70px;
    }
}

@media only screen and (min-width: 600px) {
    .startButtonContainer{
        display: block;
        position: absolute;
        background: none;
        background-color: none;
        padding-top: 300px;
        padding-right: 25px;
    }
    .inputUsername{
        display: flex;
        flex-direction: row;
        height: 40px;
        width: auto;
        text-align: center;
        outline: none;
        border-radius: 50px;
    }
    
    .homeButton{
        display: flex;
        flex-direction: row;
        cursor: pointer;
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding-top: 30px;
        padding-left: 70px;
    }
}

@media only screen and (min-width: 800px) {
    .startButtonContainer{
        display: block;
        position: absolute;
        background: none;
        background-color: none;
        padding-top: 375px;
        padding-right: 25px;
    }
    .inputUsername{
        display: flex;
        flex-direction: row;
        height: 40px;
        width: auto;
        text-align: center;
        outline: none;
        border-radius: 50px;
    }
    
    .homeButton{
        display: flex;
        flex-direction: row;
        cursor: pointer;
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding-top: 30px;
        padding-left: 70px;
    }
}

@media only screen and (min-width: 1000px) {
    .startButtonContainer{
        display: block;
        position: absolute;
        background: none;
        background-color: none;
        padding-top: 470px;
        padding-right: 25px;
    }
    .inputUsername{
        display: flex;
        flex-direction: row;
        height: 50px;
        width: auto;
        text-align: center;
        outline: none;
        border-radius: 50px;
    }
    
    .homeButton{
        display: flex;
        flex-direction: row;
        cursor: pointer;
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding-top: 50px;
        padding-left: 67px;
    }
}

@media only screen and (min-width: 1400px) {
    .startButtonContainer{
        display: block;
        position: absolute;
        background: none;
        background-color: none;
        padding-top: 570px;
        padding-right: 25px;
    }
    .inputUsername{
        display: flex;
        flex-direction: row;
        height: 50px;
        width: auto;
        text-align: center;
        outline: none;
        border-radius: 50px;
    }
    
    .homeButton{
        display: flex;
        flex-direction: row;
        cursor: pointer;
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding-top: 50px;
        padding-left: 67px;
    }
}