@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');


.gameBody{
    background-color: #0e0e0e;
    height: 100vh;
    display: flex;
    font-family: 'Press Start 2P', cursive;
    background-size: 100%;
    background-position: center;
}


/* -- INFO SIDE -- */
.infoSide{
    height: 100%;
    width: 40vw;
}
.usernameArea{
    display: flex;
    align-items: flex-end;
    height: 10vh;
}
.infoArea{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- GAME SIDE -- */
.gameSide{
    height: 100%;
    width: 60vw;
}
.progressionArea{
    height: 20vh;
    display: flex;
}
.eventArea{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.townArea{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dungeonArea{
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.handArea{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}