.infoBody{
    background-color: #6C6D73;
    height: 95%;
    width: 95%;
    border-radius: 5px;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #9A7C4A;
}

/* -- INFO AREA -- */
.cardInfoArea{
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displaySection{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cardDisplay{
    background-color: black;
    height: 90%;
    width: 88%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 0px;
}

.infoSection{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
    padding-top: 3%;
}
.title{
    font-size: 20px;
    margin-bottom: 0px;
    /* font-weight: bold; */
}
.information{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: lighter;
}

.cardDescription{
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: lighter;
}

/* -- BUTTON AREA -- */
.buttonArea{
    height: 15%;
}
.phaseInfo{
    height: 45%;
    display: flex;
    align-items: center;
    padding-left: 4%;
    font-size: 20px;
}
.buttonList{
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0px;
    padding-bottom: 0px;
}
.button{
    color: #474747;
    font-size: 20px;
    min-width: 7rem;
    border-style: solid;
    border-width: 3px;
    border-color: #313131;
    border-radius: 5px;
    text-align: center;
    background-color: #c1c1c1;
}
.button:hover{
    background-color: #474747;
    border-color: #c1c1c1;
    color: #c1c1c1;
    cursor: pointer;
}
/* class for BUILD button when buildingModeState is true */
.buttonBuild{
    background-color: #474747;
    border-color: #c1c1c1;
    color: #c1c1c1;
    font-size: 20px;
    min-width: 7rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    text-align: center;
}
.buttonBuild:hover{
    border-color: #313131;
    cursor: pointer;
}

/* -- MESSAGE AREA -- */
.messageArea{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messageBox{
    background-color: #474747;
    width: 92%;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #313131;
    border-radius: 5px;
}
.message{
    font-size: 14px;
}
/* classes for card count when dungeon rooms are stacked */
.cardCountContainer{
    text-align: center;
    width: 88%;
}
.cardCountLabel{
    text-align: left;
}
.cardStackButtons{
    width: 100%;
    text-align: right;
    font-size: 20px;
}
.cardStackButtons:hover{
    color: #474747;
    cursor: pointer;
}

